.sis-ico-color-principal {
    color: #BF915C;
}

.sis-ico-color-whiteblack {
    color: #e9e9e9;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/iconfont/MaterialIcons-Regular.eot");
    /*src: url(https://example.com/MaterialIcons-Regular.eot); !* For IE6-8 *!*/
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/iconfont/MaterialIcons-Regular.woff) format("woff"), url(../fonts/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-flex;
    vertical-align: top;
    line-height: 24px;
    text-transform: none;
    letter-spacing: .1em;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons:hover {
    opacity: .6;
}

.material-icons.md-8 {
    font-size: 8px;
}

.material-icons.md-10 {
    font-size: 10px;
}

.material-icons.md-12 {
    font-size: 12px;
}

.material-icons.md-14 {
    font-size: 14px;
}

.material-icons.md-16 {
    font-size: 16px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-26 {
    font-size: 26px;
}

.material-icons.md-28 {
    font-size: 28px;
}

.material-icons.md-30 {
    font-size: 30px;
}

.material-icons.md-32 {
    font-size: 32px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.navbar {
    line-height: 24px;
    border: none;
    background: 0 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: .1em;
}

.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 750px;
    position: relative;
    z-index: 0;
}

@media (max-width: 992px) {
    .carousel-item {
        height: 500px;
    }
}

.carousel-inner .carousel-text-msg {
    position: relative;
}

.carousel-inner .carousel-text-msg .subheading {
    font-family: great vibes, cursive;
    font-size: 50px;
    color: #ffd7a1;
    justify-content: center;
    display: flex;
    margin-top: 8%;
}

@media (max-width: 992px) {
    .carousel-inner .carousel-text-msg .subheading {
        margin-top: 18%;
        font-size: 20px;
    }
}

/*# sourceMappingURL=ftp_cafeperfeito.css.map */
