.sis-ico-color-principal {
    color: #BF915C;
}

.sis-ico-color-whiteblack {
    color: #e9e9e9;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/iconfont/MaterialIcons-Regular.eot");
    /*src: url(https://example.com/MaterialIcons-Regular.eot); !* For IE6-8 *!*/
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/iconfont/MaterialIcons-Regular.woff) format("woff"), url(../fonts/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-flex;
    vertical-align: top;
    line-height: 24px;
    text-transform: none;
    letter-spacing: .1em;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons:hover {
    opacity: .6;
}

.material-icons.md-8 {
    font-size: 8px;
}

.material-icons.md-10 {
    font-size: 10px;
}

.material-icons.md-12 {
    font-size: 12px;
}

.material-icons.md-14 {
    font-size: 14px;
}

.material-icons.md-16 {
    font-size: 16px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-26 {
    font-size: 26px;
}

.material-icons.md-28 {
    font-size: 28px;
}

.material-icons.md-30 {
    font-size: 30px;
}

.material-icons.md-32 {
    font-size: 32px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

body {
    background: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    position: relative;
    z-index: 0;
}

.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
    border: none;
    color: #ff6600 !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: .1em;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #c49b63;
}

.navbar-nav > .nav-item > .nav-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.9);
}

.slider-home {
    position: relative;
}

.slider-home .carousel-item {
    opacity: 0.4;
}

.slider-home .carousel-item.active {
    opacity: 1;
}

.slider-home .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.slider-home .owl-nav .owl-prev, .slider-home .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    color: #c49b63 !important;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
    opacity: 0;
}

.slider-home .owl-nav .owl-prev span:before, .slider-home .owl-nav .owl-next span:before {
    font-size: 30px;
}

.slider-home .owl-nav .owl-prev {
    left: 0;
}

.slider-home .owl-nav .owl-next {
    right: 0;
}

.slider-home:hover .owl-nav .owl-prev, .slider-home:hover .owl-nav .owl-next {
    opacity: 1;
}

.slider-home:hover .owl-nav .owl-prev {
    left: -25px;
}

.slider-home:hover .owl-nav .owl-next {
    right: -25px;
}

.slider-home.home-slider {
    position: relative;
    height: 750px;
    z-index: 0;
}

.slider-home.home-slider .carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    position: relative;
    z-index: 0;
}

@media (max-width: 1199.98px) {
    .slider-home.home-slider .carousel-item {
        background-position: center center !important;
    }
}

.slider-home.home-slider .carousel-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
}

.slider-home.home-slider .carousel-item .slider-text {
    color: #fff;
    height: 750px;
    text-align: right;
}

@media (min-width: 992px) {
    .slider-home.home-slider .carousel-item .slider-text .order-md-last {
        text-align: left !important;
    }
}

@media (max-width: 767.98px) {
    .slider-home.home-slider .carousel-item .slider-text {
        text-align: center;
    }
}

.slider-home.home-slider .carousel-item .slider-text .subheading {
    font-family: great vibes, cursive;
    font-size: 30px;
    color: #c49b63;
}

.slider-home.home-slider .carousel-item .slider-text h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1px;
}

.slider-home.home-slider .carousel-item .slider-text h1 strong {
    color: #fff;
    font-family: josefin sans, Arial, sans-serif;
    font-size: 50px;
}

@media (max-width: 991.98px) {
    .slider-home.home-slider .carousel-item .slider-text h1 {
        font-size: 30px;
    }
}

.slider-home.home-slider .carousel-item .slider-text p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
}

.slider-home.home-slider .carousel-item .slider-text p.sub-p {
    font-weight: 400;
}

.slider-home.home-slider .carousel-item .slider-text p strong {
    font-weight: 700;
}

.slider-home.home-slider .carousel-item .slider-text p strong a {
    color: #fff;
}

.slider-home.home-slider .carousel-item .slider-text .unstyled-list {
    width: 50%;
    padding: 0;
}

.slider-home.home-slider .carousel-item .slider-text .unstyled-list li {
    list-style: none;
}

.slider-home.home-slider .carousel-item .slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.slider-home.home-slider .carousel-item .slider-text .breadcrumbs span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.slider-home.home-slider .carousel-item .slider-text .breadcrumbs span a {
    color: #fff;
}

.slider-home.home-slider .owl-nav .owl-prev span, .slider-home.home-slider .owl-nav .owl-next span {
    color: #fff;
}

.slider-home.home-slider:hover .owl-nav .owl-prev, .slider-home.home-slider:hover .owl-nav .owl-next {
    opacity: 1;
}

.slider-home.home-slider:hover .owl-nav .owl-prev {
    left: 20px;
}

.slider-home.home-slider:hover .owl-nav .owl-next {
    right: 20px;
}

.slider-home.home-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

@media (max-width: 767.98px) {
    .slider-home.home-slider .owl-dots {
        bottom: 5px;
    }
}

.slider-home.home-slider .owl-dots .owl-dot {
    width: 18px !important;
    height: 18px !important;
    margin: 5px;
    border-radius: 50%;
    background: #e6e6e6;
    background: 0 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none !important;
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    display: inline-block;
}

.slider-home.home-slider .owl-dots .owl-dot span {
    position: absolute;
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50% !important;
    left: 50%;
    top: 50%;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider-home.home-slider .owl-dots .owl-dot.active {
    border: 2px solid #fff;
}

.slider-home.home-slider .owl-dots .owl-dot.active span {
    background: #fff;
}

/*# sourceMappingURL=ftp_cafeperfeito.css.map */
